node_modules/
.env
.vscode/

sugumarjagadeesh45reals2chat-firebase-adminsdk-fbsvc-c162d5671c.json

# Firebase / Google secrets
config/serviceAccountKey.json


echo "config/*.json" >> .gitignore
echo "*.json" >> .gitignore
echo "serviceAccountKey.json" >> .gitignore